<style>
 .graybackground {
    background-color: #f8f9fa;
    border-radius: 6px;
    padding: 12px 10px;
    z-index: 1000;
 }
  .card-link {
        color: inherit;
        text-decoration: none;
    }
    
</style>

<%if @newmessages.count == 0%>
    <h3 class = "graybackground">No new messages</h3>
<%else%>
    <% @newmessages.each do |newmessage| %>
        <% chat = Chat.find(newmessage.chat_id)%>
        <%= link_to chat_path(chat), class: "card-link" do %>
    
        <div class="message-card">

            <div><%= newmessage.body %></div>
            <div class = "meta-text">from: <%= User.find(newmessage.user_id).username %></div>
        
        </div>
        <%end%>
    <%end%>
<%end%>